<div style="height: 100%;">
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Covid App</span>
        <span></span>
        <button mat-button color="secondary" routerLink="/continents" routerLinkActive="mat-accent">
            Continents
        </button>
        <button mat-button color="secondary" routerLink="/countries" routerLinkActive="mat-accent">
            Countries
        </button>
        <button mat-icon-button aria-label="Refresh" (click)="refreshStoreData()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate()"></router-outlet>
</div>