table {
    width: 100%;
    height: 100%;
}

.mat-table {
    top: 60px;
}

.loading-container{
    height: 100%;
}

.mobile-view-wrapper {
    padding: 10px;
}

.mat-card {
    margin-bottom: 10px;
}
