<ng-container *ngVar="continentData$ | async as data">
    <div *ngIf="!data" class="loading-container">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <table *ngIf="data" #stickyHeaders mat-table [dataSource]="data">
        <ng-container matColumnDef="Continent">
            <th mat-header-cell *matHeaderCellDef> Continent </th>
            <td mat-cell *matCellDef="let item"> {{item.continent}} </td>
        </ng-container>

        <ng-container matColumnDef="New">
            <th mat-header-cell *matHeaderCellDef> New Cases</th>
            <td mat-cell *matCellDef="let item"> {{item.newCases}} </td>
        </ng-container>

        <ng-container matColumnDef="NewPerc">
            <th mat-header-cell *matHeaderCellDef>New Percentage of World</th>
            <td mat-cell *matCellDef="let item"> {{item.percNewCasesOfWorld}}% </td>
        </ng-container>

        <ng-container matColumnDef="Active">
            <th mat-header-cell *matHeaderCellDef> Active Cases</th>
            <td mat-cell *matCellDef="let item"> {{item.activeCases}} </td>
        </ng-container>

        <ng-container matColumnDef="ActivePerc">
            <th mat-header-cell *matHeaderCellDef> Active Percentage of World</th>
            <td mat-cell *matCellDef="let item"> {{item.percActiveCasesOfWorld}}% </td>
        </ng-container>

        <ng-container matColumnDef="Deaths">
            <th mat-header-cell *matHeaderCellDef> Deaths</th>
            <td mat-cell *matCellDef="let item"> {{item.deaths}} </td>
        </ng-container>

        <ng-container matColumnDef="DeathPerc">
            <th mat-header-cell *matHeaderCellDef> Death Percentage of World</th>
            <td mat-cell *matCellDef="let item"> {{item.percDeathsOfWorld}}% </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>
